.trainingPage {
    background-color: #F6F7FB;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .trainingPage {
        padding-right: 45px;
        padding-left: 45px;
        padding-top: 30px;
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1280px) {
    .trainingPage {
        padding-right: 39px;
        padding-left: 39px;
        padding-top: 50px;
        padding-bottom: 36px;
    }
}

@media screen and (min-width: 1280px) {
    .trainingPageFlex {
        display: flex;
        flex-direction: row-reverse
    }
}

.trainingContainer {
    width: 270px;
}

@media screen and (min-width: 768px) {
    .trainingContainer {
        width: 678px;
    }
}

@media screen and (min-width: 1280px) {
    .trainingContainer {
        width: 886px;
        margin-right: 41px;
    }
}

/* .mobileModalTraining {
    display: none;
} */

@media screen and (min-width: 768px) {
    .mobileModalTraining {
        display:flow-root;
    }
}

.startTimer {
    display: none;
}

@media screen and (min-width: 768px) {
    .startTimer {
        display:flow-root;
    }
}

.trainingTitle {
    display: block;
    padding-top: 11px;
    margin-top: 0;
    height: 60px;
    color: #ffffff;
    background: #B1B5C2;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.9;
}

.startTrainingBtn {
    display: block;
    height: 42px;
    width: 171px;
    background-color: #FF6B08;
    color: #ffffff;
    border: none;
    margin: 40px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.71;

}

@media screen and (min-width: 768px) {
    .startTrainingBtn {
        height: 40px;
        width: 200px;
        font-weight: 600;
        font-size: 16px;
        line-height: 2.38;
    }
}

@media screen and (min-width: 1280px) {
    .statisticsFlex {
        display: flex;
    }
}
