.libraryPage {
    background-color: #F6F7FB;
    padding: 10px 25px 0;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    .libraryPage {
        padding: 20px 87px 0; 
    }
}

@media screen and (min-width: 1280px) {
    .libraryPage {
        padding: 30px 25px 0; 
    }
}

.libraryBtn {
    display: block;
    height: 40px;
    width: 200px;
    background-color: #FF6B08;
    color: #ffffff;
    border: none;
    margin: 40px auto;
}