.libraryPage {
    background-color: #F6F7FB;
    padding: 10px 25px 30px;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    .libraryPage {
        padding: 20px 87px 60px; 
    }
}

@media screen and (min-width: 1280px) {
    .libraryPage {
        padding: 30px 25px 60px; 
    }
}

