.wrap{
    /* display: flex; */
    align-items: center;
    width: 320px;
    height:  648px;
    padding: 90px 25px 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(
      rgba(9, 30, 63, 0.8),
      rgba(9, 30, 63, 0.8)
    ),
    url(../../images/registr-pic-mobile.jpg);
  
}

.label{
  display: block;
}