.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  
.modal {
    margin: 0 auto;
    min-width: 270px;
    min-height: 425px;
    padding-left: 15px;
    padding-top: 31px;
    padding-right: 15px;
    padding-bottom: 36px;
    background-color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(10px 10px 20px rgba(9, 30, 63, 0.2));
    @media screen and(min-width: 768px) {
      min-width: 390px;
      min-height: 290px;
      padding-left: 30px;
      padding-top: 15px;
      padding-right: 60px;
      padding-bottom: 31px;
    }
  }

  
.motivContent {
    padding: 44px 30px 50px;
    width: 270px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #242A37;
    @media screen and (min-width: 768px) {
        width: 390px;
        padding: 40px 50px 47px;
    }
}

.iconWrap {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        margin-bottom: 14px;
    }
}

.okButton {
    margin-top: 20px;
    // color: var(--white);
    color: #fff;
    // background-color: var(--accent-color);
    background-color: #FF6B08;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    width: 98px;
    height: 40px;
    @media screen and (min-width: 768px) {
        width: 130px;
        margin-top: 25px;
    }
    &:hover {
        background: #D15807;
    }
}