.container{
    display: flex;
    margin: 15px auto 44px;
    justify-content: space-evenly;
    align-items: center;
}

.item_container {
    margin-right: 45px;
    text-align: center;
    color: #898F9F;
}
