.button {
  background-color: rgba(28, 28, 28, 0);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 38px;
  padding: 0;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  &:after {
    content: "";
    width: 42px;
    background-color: #000;
    height: 1px;
    display: block;
  }
  &:hover:after {
    background-color: #f25137;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    color: #f25137;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mainWrap {
  display: flex;
  align-items: center;
}

.secWrap {
  display: flex;
  align-items: center;
}

.symbolWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #f5f7fa;
  border-radius: 50%;
  color: #242a37;
  margin-right: 11px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.symbol {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 2.7;
}

.secSymbolWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #f5f7fa;
  border-radius: 50%;
  color: #242a37;
  margin-right: 11px;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.secSymbol {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 2.7;
}

.nameWrap {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 2.7;
  color: #242a37;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.trainingWrap {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 2px;
  &:hover,
  :focus {
    background-color: #f5f7fa;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.training {
  cursor: pointer;
}

.activeTraining {
  background-color: #f5f7fa;
  border-radius: 50%;
}

.homeWrap {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 2px;
  &:hover,
  :focus {
    background-color: #f5f7fa;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.home {
  cursor: pointer;
  margin-right: 1px;
}

.lineRight {
  width: 33px;
  border: 0.5px solid #e0e5eb;
  transform: rotate(90deg);
}

.activeHome {
  background-color: #f5f7fa;
  border-radius: 50%;
}
